@font-face{
    font-family: 'Amatic';
    src: url('./Amatic.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body, html, .parent{
    width: 100%;
    height:100%;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

.home-container{
    background:url('./home-image.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position-x: left; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.home-box{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    background-color: whitesmoke;
    opacity: 0.7;
    justify-content: space-between;
}

.home-tittle{
    width: 100%;
    height: 40%;
    font-size: 80px;
    color:  black;
    font-family:'Amatic';
    align-items: center;
    text-align: center;
}

.home-description{
    width: 100%;
    height: 40%;
    font-size: 80px;
    color: black;
    font-family:'Amatic';
    text-align: center;
}
